#==============================================================================
# Copyright (c) 2016-present Allan CORNET (Nelson)
#==============================================================================
# This file is part of the Nelson.
#=============================================================================
# LICENCE_BLOCK_BEGIN
# SPDX-License-Identifier: LGPL-3.0-or-later
# LICENCE_BLOCK_END
#==============================================================================
# This .gitignore for Nelson

build/
chocolatey/nelson/*.nupkg
nelson*.snap
tests_*.xml
tests_*.json
compile_commands.json
checks.json
/$tf
/bin/*/mkl
/bin/*/openblas
/bin/*/qml
/bin/*/plugins
/bin/*/LICENSE_1_0.txt
/bin/*/license_sdk.rtf
/bin/*/mkl_license.txt
/bin/*/libnlsblaslapack.dll.manifest
/bin/*/nelson-cli.exe
/bin/*/nelson_f2c
/modules/main/help/*/html/CHANGELOG.html
/modules/main/help/*/html/CHANGELOG-0.1.x.html
/modules/main/help/*/html/CHANGELOG-0.2.x.html
/modules/main/help/*/html/CHANGELOG-0.3.x.html
/modules/main/help/*/html/CHANGELOG-0.4.x.html
/modules/main/help/*/html/CHANGELOG-0.5.x.html
/modules/main/help/*/html/CHANGELOG-0.6.x.html
/modules/main/help/*/html/CHANGELOG-0.7.x.html
/modules/main/help/*/html/license.html
/modules/main/help/*/html/gpl-3.0.html
/modules/main/help/*/html/lgpl-3.0.html
/modules/*/nls*_autogen
/modules/modules.m
/module_skeleton/
*.settings
*.qmlc
*.jsc
*.user
*.opensdf
*.dll
*.sdf
*.bak
*.exp
*.ilk
*.lib
*.pdb
*.exe
*.lastcodeanalysissucceeded
*.psess
*.inspxe
*.suo
*.tlog
*.orig
*.tmp
*.cppcheck
/modules/qml_engine/nlsQml_engine_automoc.dir/
/modules/text_editor/nlsText_editor_automoc.dir/
/modules/*/builtin/c/x64
/modules/*/builtin/c/Debug
/modules/*/builtin/c/Release
/modules/*/builtin/c/Intel_SSA
/modules/*/builtin/c/r000sc
/modules/*/no-src/c/x64
/modules/*/no-src/c/Debug
/modules/*/no-src/c/Release
/modules/*/no-builtin/c/x64
/modules/*/no-builtin/c/Debug
/modules/*/no-builtin/c/Release
/modules/*/src/c/x64
/modules/*/src/c/Debug
/modules/*/src/c/Release
/modules/*/src/c/Intel_SSA
/modules/*/src/c/*/r000sc
/modules/*/*/c/*/r000sc
/modules/*/*/cpp/moc_*.cpp
/modules/*/moc_*.cpp
/modules/*/*_automoc.cpp
/modules/gui/nlsGui_automoc.dir
/modules/*/help/en_US/md/*.html
/modules/main/nelson_sio_cli/x64
/modules/main/nelson_sio_cli/Debug
/modules/main/nelson_sio_cli/Release
/modules/main/nelson_cli/x64
/modules/main/nelson_cli/Debug
/modules/main/nelson_cli/Release
/modules/main/nelson_cli/Intel_SSA
/modules/main/nelson_cli/*/r000sc
/modules/main/nelson_cli/My Inspector XE Results - Nelson-cli/
/modules/main/nelson_adv_cli/My Inspector XE Results - Nelson-cli/
/modules/main/nelson_adv_cli/x64
/modules/main/nelson_adv_cli/Debug
/modules/main/nelson_adv_cli/Release
/modules/main/nelson_adv_cli/Intel_SSA
/modules/main/nelson_adv_cli/*/r000sc
/modules/main/nelson_adv_cli/My Inspector XE Results - Nelson-cli/
/modules/main/nelson_gui/x64
/modules/main/nelson_gui/Debug
/modules/main/nelson_gui/Release
/modules/main/nelson_gui/Intel_SSA
/modules/main/nelson_gui/*/r000sc
/modules/main/nelson_gui/My Inspector XE Results - Nelson-cli/
/modules/main/nelson_gui/Resource.aps
/modules/main/help/*/html/homepage.html
/modules/python_engine/thirdparty/
*.vspx
My Advisor XE Results - *
*.inspxeproj
*.dflginspxe
*.infoinspxe
################################################################################
NelsonConfigVersion.cmake
CMakeFiles/
_CPack_Packages/
Makefile
*.*~
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
install_manifest.txt
*.a
*.so
*.dylib
Nelson-*-*.tar.Z
Nelson-*-*.tar.gz
nelson-*.deb
nelson*.rpm
nelson*.dmg
nelson*.zip
bin/linux/*.so.*
bin/linux/*-exec
bin/linux/*.so.*
bin/linux/*-exec
bin/macos/*.dylib.*
bin/macos/*-exec
/modules/help_tools/thirdparty/highlight.js
/tools/gettext/bin
.DS_Store
/tools/gettext/generatepo/Release
/tools/gettext/generatepo/Debug
/tools/gettext/generatepo/x64
/tools/gettext/generatemo/*/*/*.log
/tools/gettext/generatepo/*/*/*.log
/tools/gettext/license.txt
/tools/gettext/gettext-license.txt
################################################################################
*.ipdb
*.iobj
*.opendb
*.qch
*.plog
*.i-*
################################################################################
/tools/gettext/generatepo/Debug
/tools/gettext/generatemo/Release
/tools/gettext/generatepo/x64/
/tools/gettext/generatemo/x64/
/tools/tests_minimal/x64/
/tools/gettext/generatemo/Debug
/tools/gettext/generatemo/Debug/generatemo.log
/tools/gettext/readme.txt
/tools/innosetup/generated.iss
/tools/tests/x64/Release
/tools/tests/x64/Debug
/tools/buildhelp/x64/Release
/tools/buildhelp/x64/Debug
/tools/buildhelp/win32/Release
/tools/buildhelp/win32/Debug
/tools/buildhelp/Release
/tools/buildhelp/Debug
/tools/doxygen/nelson_doxygen
/tools/doxygen/nelson_doxygen.zip
################################################################################
# previous place
/modules/core/src/include/Nelson_VERSION.h
################################################################################
/modules/commons/src/include/Nelson_VERSION.h
/modules/commons/src/include/nlsBuildConfig.h
/modules/*/src/c/*/x64
/modules/*/src/c/*/Debug
/modules/*/src/c/*/Release
################################################################################
/Nelson.VC.db
.vs/
*.PVS-Studio.cfg
*.PVS-Studio.preprocess.cmd
*.PVS-Studio.cmd
*.PVS-Studio.preprocess.cmd.rsp
*.i
*.PVS-Studio.compilerVersion.cmd
enc_temp_folder
################################################################################
/tools/CMake/
################################################################################
/*/*/.vscode
.vscode
################################################################################
# module_skeleton
module_skeleton/builtin/CMakeLists.txt
module_skeleton/builtin/cleaner.m
module_skeleton/builtin/loader.m
module_skeleton/builtin/unloader.m
module_skeleton/builtin/cpp/Gateway.cpp
module_skeleton/src/CMakeLists.txt
module_skeleton/src/cleaner.m
module_skeleton/src/loader.m
module_skeleton/src/unloader.m
module_skeleton/*/*.manifest
################################################################################
a.out
cmake_hdf5_test.out
################################################################################
locale/nelson.pot
locale/??_??/
################################################################################
modules/main/help/*/md/lgpl-3.0.md
modules/main/help/*/md/gpl-3.0.md
################################################################################
package-lock.json
node_modules/
################################################################################
.qt/
################################################################################
modules/mex/examples/rust-mex-builder/helloworld/Cargo.lock
modules/mex/examples/rust-mex-builder/helloworld/build.rs
modules/mex/examples/rust-mex-builder/helloworld/target/
################################################################################
parts/
prime/
stage/
################################################################################
