#==============================================================================
# Copyright (c) 2016-2018 Allan CORNET (Nelson)
#==============================================================================
# LICENCE_BLOCK_BEGIN
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation, either version 2 of the License, or
# (at your option) any later version.
# 
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
# 
# You should have received a copy of the GNU General Public License
# along with this program.  If not, see <http://www.gnu.org/licenses/>.
# LICENCE_BLOCK_END
#==============================================================================
# This .gitignore for Nelson
tests_*.xml
tests_*.json
/$tf
/bin/*/mkl
/bin/*/openblas
/bin/*/qml
/bin/*/plugins
/bin/*/LICENSE_1_0.txt
/bin/*/license_sdk.rtf
/bin/*/mkl_license.txt
/bin/*/nelson-cli.exe
/bin/*/nelson_f2c
/modules/main/help/*/html/CHANGELOG.html
/modules/main/help/*/html/CHANGELOG-0.1.x.html
/modules/main/help/*/html/license.html
/modules/main/help/*/html/GPL2.html
/modules/*/nls*_autogen
*.settings
*.qmlc
*.jsc
*.user
*.opensdf
*.dll
*.sdf
*.bak
*.exp
*.ilk
*.lib
*.pdb
*.exe
*.lastcodeanalysissucceeded
*.psess
*.inspxe
*.suo
*.tlog
*.orig
*.tmp
*.cppcheck
/modules/*/builtin/c/x64
/modules/*/builtin/c/Debug
/modules/*/builtin/c/Release
/modules/*/builtin/c/Intel_SSA
/modules/*/builtin/c/r000sc
/modules/*/src/c/x64
/modules/*/src/c/Debug
/modules/*/src/c/Release
/modules/*/src/c/Intel_SSA
/modules/*/src/c/*/r000sc
/modules/*/*/c/*/r000sc
/modules/*/*/cpp/moc_*.cpp
/modules/*/moc_*.cpp
/modules/*/*_automoc.cpp
/modules/gui/nlsGui_automoc.dir
/modules/*/help/en_US/md/*.html
/modules/main/nelson_cli/x64
/modules/main/nelson_cli/Debug
/modules/main/nelson_cli/Release
/modules/main/nelson_cli/Intel_SSA
/modules/main/nelson_cli/*/r000sc
/modules/main/nelson_cli/My Inspector XE Results - Nelson-cli/
/modules/main/nelson_adv_cli/My Inspector XE Results - Nelson-cli/
/modules/main/nelson_adv_cli/x64
/modules/main/nelson_adv_cli/Debug
/modules/main/nelson_adv_cli/Release
/modules/main/nelson_adv_cli/Intel_SSA
/modules/main/nelson_adv_cli/*/r000sc
/modules/main/nelson_adv_cli/My Inspector XE Results - Nelson-cli/
/modules/main/nelson_gui/x64
/modules/main/nelson_gui/Debug
/modules/main/nelson_gui/Release
/modules/main/nelson_gui/Intel_SSA
/modules/main/nelson_gui/*/r000sc
/modules/main/nelson_gui/My Inspector XE Results - Nelson-cli/
/modules/main/nelson_gui/Resource.aps
/modules/main/help/*/html/homepage.html
*.vspx
My Advisor XE Results - *
*.inspxeproj
*.dflginspxe
*.infoinspxe
################################################################################
CMakeFiles/
_CPack_Packages/
Makefile
*.*~
CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
cmake_install.cmake
install_manifest.txt
*.so
*.dylib
Nelson-*-Darwin.tar.Z
Nelson-*-Linux.tar.Z
bin/linux32
bin/linux64
bin/linux64/nelson-cli
bin/linux32/nelson-cli
bin/macosx64/nelson-cli
bin/linux64/nelson-adv-cli
bin/linux32/nelson-adv-cli
bin/macosx64/nelson-adv-cli
bin/linux64/nelson-gui
bin/linux32/nelson-gui
bin/macosx64/nelson-gui
/modules/help_tools/thirdparty/highlight.js
/tools/gettext/bin
.DS_Store
*.mo
/tools/gettext/generatemo/*/*/*.log
/tools/gettext/generatepo/*/*/*.log
/tools/gettext/gettext-license.txt
################################################################################
*.ipdb
*.iobj
/tools/gettext/generatepo/Debug
/tools/gettext/generatemo/Release
/tools/gettext/generatepo/x64/
/tools/gettext/generatemo/x64/
/tools/tests_minimal/x64/
*.opendb
/tools/gettext/generatemo/Debug
/tools/gettext/generatemo/Debug/generatemo.log
/tools/gettext/readme.txt
/tools/innosetup/generated.iss
/Nelson.VC.db
*.qch
/modules/core/src/include/Nelson_VERSION.h
/tools/tests/x64/Release
/tools/tests/x64/Debug
/tools/buildhelp/x64/Release
/tools/buildhelp/x64/Debug
/tools/buildhelp/win32/Release
/tools/buildhelp/win32/Debug
/tools/buildhelp/Release
/tools/buildhelp/Debug
/tools/clang_format/clang-format.exe
*.plog
*.i-*
.vs/
*.PVS-Studio.cfg
*.PVS-Studio.preprocess.cmd
*.PVS-Studio.cmd
*.PVS-Studio.preprocess.cmd.rsp
*.i
*.PVS-Studio.compilerVersion.cmd
/modules/*/src/c/*/x64
/modules/*/src/c/*/Debug
/modules/*/src/c/*/Release
enc_temp_folder
/tools/CMake/
/*/*/.vscode
.vscode
################################################################################
# module_skeleton
module_skeleton/builtin/CMakeLists.txt
module_skeleton/builtin/cleaner.nls
module_skeleton/builtin/loader.nls
module_skeleton/builtin/unloader.nls
module_skeleton/builtin/cpp/Gateway.cpp
module_skeleton/src/CMakeLists.txt
module_skeleton/src/cleaner.nls
module_skeleton/src/loader.nls
module_skeleton/src/unloader.nls
module_skeleton/*/*.manifest