version: 2
jobs:
  build:
    docker:
      - image: archlinux/base:latest
    environment:
      DISPLAY: ""
      OMPI_ALLOW_RUN_AS_ROOT: 1
      OMPI_ALLOW_RUN_AS_ROOT_CONFIRM: 1
    steps:
      - run: pacman -Sy --noconfirm archlinux-keyring
      - run: pacman -Sy --noconfirm
      - run: pacman -Su --noconfirm
      - run: pacman -Sr pacman
      - run: pacman -S base-devel --noconfirm
      - run: pacman -S inetutils --noconfirm
      - run: pacman -S gawk --noconfirm
      - run: pacman -S m4 --noconfirm
      - run: pacman -S pkg-config --noconfirm
      - run: pacman -S boost-libs boost --noconfirm
      - run: pacman -S cmake --noconfirm
      - run: pacman -S libffi --noconfirm
      - run: pacman -S icu --noconfirm
      - run: pacman -S qt5-base --noconfirm
      - run: pacman -S qt5-tools --noconfirm
      - run: pacman -S qt5-webkit --noconfirm
      - run: pacman -S libxml2 --noconfirm
      - run: pacman -S gcc --noconfirm
      - run: pacman -S make --noconfirm
      - run: pacman -S blas --noconfirm
      - run: pacman -S lapack --noconfirm
      - run: pacman -S lapacke --noconfirm
      - run: pacman -S fftw --noconfirm
      - run: pacman -S openmpi --noconfirm
      - run: pacman -S hdf5 --noconfirm
#      - run: pacman -S libmatio --noconfirm
      - run: pacman -S taglib --noconfirm
      - run: pacman -S portaudio --noconfirm
      - run: pacman -S libsndfile --noconfirm
      - run: pacman -S git --noconfirm
      - run: pacman -S zlib --noconfirm
      - run: pacman -S curl --noconfirm
      - run: pacman -S libgit2 --noconfirm
      - run: git clone https://github.com/HDFGroup/hdf5.git /tmp/hdf5-1_10_5
      - run: cd /tmp/hdf5-1_10_5 && git checkout hdf5-1_10_5 && ./configure --quiet --enable-shared --disable-deprecated-symbols --disable-hl --disable-strict-format-checks --disable-memory-alloc-sanity-check --disable-instrument --disable-parallel --disable-trace --disable-asserts --with-pic --with-default-api-version=v110 CFLAGS="-w" && make install -C src
      - run: git clone https://github.com/tbeu/matio /tmp/matio
      - run: cd /tmp/matio && git checkout v1.5.16 && cd /tmp/matio && ./autogen.sh && ./configure --enable-shared --enable-mat73=yes --enable-extended-sparse=no --with-pic --with-hdf5=/tmp/hdf5-1_10_5/hdf5 && make && make install;
      - run: git clone https://gitlab.com/libeigen/eigen.git /tmp/eigen
      - run: mkdir /tmp/eigen-build && cd /tmp/eigen && git checkout 3.3.9 && cd - && cd /tmp/eigen-build && cmake . /tmp/eigen && make -j4 && make install;
      - checkout
      - run: cmake -G "Unix Makefiles" .
      - run: make -j4
      - run: make get_module_skeleton
      - run: make buildhelp
      - run: make tests_minimal
      - run: make package
      - run: make benchs_all_no_display
      - run: rm -rf ~/.gitconfig 2> /dev/null
      - run: rm -rf /etc/gitconfig 2> /dev/null
      - run: make tests_all_no_display
