<?xml version="1.0" encoding="UTF-8"?>
<xmldoc>
  <copyright>SAME AS NELSON SOFTWARE</copyright>

  <language>en_US</language>
  <keyword>system</keyword>
  <keyword>dos</keyword>
  <keyword>unix</keyword>

  <short_description>Shell command execution.</short_description>

  <syntax>
    <syntax_item>status = system(command)</syntax_item>
    <syntax_item>status = dos(command)</syntax_item>
    <syntax_item>status = unix(command)</syntax_item>
    <syntax_item>[status, output] = system(command)</syntax_item>
    <syntax_item>[status, output] = dos(command)</syntax_item>
    <syntax_item>[status, output] = unix(command)</syntax_item>
    <syntax_item>[status, output] = system(command, '-echo')</syntax_item>
    <syntax_item>[status, output] = dos(command, '-echo')</syntax_item>
    <syntax_item>[status, output] = unix(command, '-echo')</syntax_item>
  </syntax>

  <param_input>
    <param_input_item>
      <param_name>command</param_name>
      <param_description>a string: command to execute in command shell.</param_description>
    </param_input_item>
  </param_input>

  <param_output>
    <param_output_item>
      <param_name>status</param_name>
      <param_description>an integer value: exit code value of the command.</param_description>
    </param_output_item>
    <param_output_item>
      <param_name>output</param_name>
      <param_description>a string: output of the command.</param_description>
    </param_output_item>

  </param_output>


  <description><p><b>system</b> sends a string to the operating system for execution. Standard output and standard errors of the shell command are written in the calling shell.</p>
<p><b>[status, output] = system(command, '-echo')</b> forces the output to the Command Window, even though it is also being assigned into a variable.</p>
  </description>

  <used_function></used_function>
  <bibliography></bibliography>

<examples>
  <example_item>
    <example_item_type>nelson</example_item_type>
    <example_item_description></example_item_description>
    <example_item_data><![CDATA[[s,w] = system('dir');
[s,w] = system('dir','-echo');]]>
    </example_item_data>
  </example_item>

</examples>

  <see_also>
    <see_also_item>
      <link linkend="${os_functions}winopen">winopen</link>
    </see_also_item>
  </see_also>


  <history>
    <history_item>
      <history_version>1.0.0</history_version>
      <history_description>initial version</history_description>
    </history_item>
  </history>

  <authors>
    <author_item>Allan CORNET</author_item>
  </authors>
</xmldoc>


