Key1='Value1'
Key2='Value2'
AWS_ACCESS_KEY_ID='your-AWS_ACCESS_KEY_ID-goes-here'
AWS_SECRET_ACCESS_KEY='your-AWS_SECRET_ACCESS_KEY-goes-here'
MW_WASB_SAS_TOKEN='your-MW_WASB_SAS_TOKEN-goes-here'
username='your-username-goes-here'
password='your-password-goes-here'
DB_NAME='MySQL_DB'
DB_USER='user_name'
DB_PASSWORD='pass_word'
DB_DOMAIN='abc123.mysqldb.com'
DB_PORT='1234'
TEMPORARY_DOWNLOAD='C:/Users/username/Local/Temp/my_download'
会意; 會意='OK'
