name: Micromamba CI

on: [push]

jobs:
  Micromamba_linux:
    name: Micromamba (Ubuntu-22.04)
    runs-on: ubuntu-22.04
    timeout-minutes: 120

    steps:
      - uses: actions/checkout@v4

      - name: install micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment-linux-dev.yml
          environment-name: nelson

      - name: cmake configure
        run: |
          mkdir -p build
          cd build
          cmake .. \
            -DCMAKE_BUILD_TYPE=Release \
            -DWITHOUT_SLICOT_MODULE=ON \
            -DCMAKE_PREFIX_PATH=$CONDA_PREFIX \
            -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX \
            -DCMAKE_INSTALL_LIBDIR=lib
        shell: micromamba-shell {0}

      - name: make
        run: |
          cd build
          cmake --build . -- -j $(nproc)
        shell: micromamba-shell {0}

      - name: get module skeleton
        run: |
          cd build
          cmake --build . -- get_module_skeleton
        shell: micromamba-shell {0}

      - name: build help
        run: |
          cd build
          cmake --build . -- buildhelp
        shell: micromamba-shell {0}

      - name: install
        run: |
          cd build
          cmake --build . -- install
        shell: micromamba-shell {0}

      - name: all tests
        run: |
          cd build
          xvfb-run cmake --build . -- tests_all
        shell: micromamba-shell {0}

  Micromamba_macos:
    name: Micromamba (macOS 14)
    runs-on: macos-14
    timeout-minutes: 120

    steps:
      - uses: actions/checkout@v4

      - name: install micromamba
        uses: mamba-org/setup-micromamba@v2
        with:
          environment-file: environment-macos-dev.yml
          environment-name: nelson

      - name: cmake configure
        run: |
          mkdir -p build
          cd build
          cmake .. \
            -DCMAKE_BUILD_TYPE=Release \
            -DFORCE_LIBGFORTRAN_LINK=ON \
            -DWITHOUT_SLICOT_MODULE=ON \
            -DCMAKE_PREFIX_PATH=$CONDA_PREFIX \
            -DCMAKE_INSTALL_PREFIX=$CONDA_PREFIX \
            -DCMAKE_INSTALL_LIBDIR=lib
        shell: micromamba-shell {0}

      - name: make
        run: |
          cd build
          cmake --build .
        shell: micromamba-shell {0}

      - name: get module skeleton
        run: |
          cd build
          cmake --build . -- get_module_skeleton
        shell: micromamba-shell {0}

      - name: build help
        run: |
          cd build
          cmake --build . -- buildhelp
        shell: micromamba-shell {0}

      - name: install
        run: |
          cd build
          cmake --build . -- install
        shell: micromamba-shell {0}

      - name: all tests
        run: |
          cd build
          export OMP_NUM_THREADS=1
          cmake --build . -- tests_all
        shell: micromamba-shell {0}
