name: "Prettier"

on: [push]

jobs:
  prettier_check:
    name: "Prettier - Ubuntu"
    runs-on: ubuntu-latest
    timeout-minutes: 10

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install node
        uses: actions/setup-node@v4
        with:
          node-version: "22.14"

      - name: npm install
        run: |
          npm install
      - name: npm run prettier:check
        run: |
          npm run prettier:check
